/* Section 1 */
.section1 {
  justify-content: space-between;
  /* background: url("../public/img/wood.jpg"); */
}
.servicecards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}
.title {
  top: 50%;
  position: relative;
  z-index: 10;
}
.title:hover {
  position: relative;
  display: none;
  z-index: 10;
}
.servicecards:hover {
  opacity: 1;
}

.servicecards:hover > * {
  transform: translateY(0);
}
.sectionchild > * {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionchild h5 {
  margin: 0 auto;
  display: grid;
  text-align: center;
  justify-content: center;
}
.sectionchild svg {
  text-align: center;
  margin: 10px auto;
}

.sectionchild button {
  width: 100%;
  padding: 5px 50px;
  background: #004aad;
}

.section3 .cards {
  display: grid;
  align-content: center;
  text-shadow: 1px 1px 1px #000;
}
.section3 h1 {
  font-size: 3em;
}

.section3 img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.btn {
  color: #fff;
  background-color: #0d6efd;
  border-color: #d9fd0d;
  margin: 0 auto;
  padding: 10px 50px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
